@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');


body {
    max-width: 900px;
    margin: 0 auto;
    background-color: white;
    padding: 1em;
  }
  header {
      font-family: "Karla", serif;
  }
  h2 {
    font-family: "Karla", sans-serif;
    padding: 5px 25px;
    font-size: 25px;
    text-align: left;
    margin: 0;
  }
  
  h3 {
    font-family: "Spectral", serif;
    font-size: 18px;
  }
  
  p {
    font-family: "Spectral", serif;
    font-size: 25px;
    text-align: center;
  }
  
  h1  {
    font-family: "Spectral", serif;
    font-size: 25px;
    text-align: center;
  }
   main {
       display: grid;
   }

