@media only screen and (min-width: 40rem){

/*header*/
#hamburgerBtn {
    display: none;
}
nav ul#navigation {
    display: flex;
    justify-content: flex-start;
}

nav ul li a {
    border: none;
    }

.social {
    width: 20px;
    padding: .2rem;
}
.action h2 {
    top: 35rem;
    left: 20rem;
    font-size: 25px;
}
}