@media only screen and (min-width: 40rem){

/*NAV*/
#hamburgerBtn {
    display: none;
}
nav ul#navigation {
    display: flex;
    justify-content: flex-start;
}

nav ul li a {
    border: none;
    }

.social {
    width: 20px;
    padding: .2rem;
}
.action h2 {
    top: 35rem;
    left: 20rem;
    font-size: 25px;
}
/* MAIN */
div.boxes {
    display: grid;
    grid-template-areas:
    "a a a a"
    "b b c c"
    "b b c c"
    "b d d d";
    row-gap: 1rem;
    column-gap: 1rem;
    text-align: center;
    margin: 25px;
}

div.action {
    grid-area: "a";
}

div.temple-info {
    grid-area: "c";
}

div.contact-info {
    grid-area: "d";
}

div.weather {
    grid-area: "b";
}
/*RESERVE*/

.reserve-main {
   padding: 50px;
   margin: 0;
}

/*SERVICES*/
section.services div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
}

div.img-left picture {
    order: 2;
}

div.img-left p {
    order: 1;
}

div.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    margin: 0;
}

.servicescontact-info {
    padding: 20px;
    grid-column: 2;
}

}