html {
    background-color: white;
}

main {
    background-color: white;
}

body {
    background-color: #f7d1cd;
}

h1, h2 {
    font-family: "Oswald", modern;
}

p {
    font-family: "Noto Serif", serif;
}
.social {
    margin-left: 1.5rem;
}

header {
    align-content: center;
	text-align: center;
	background-color: #735d78;
}
/*NAV*/
nav li {
	text-align: center;
  }

nav ul {
    align-content: center;
	list-style: none;
    display: grid;
    grid-template-columns: repeat(autofit, minmax(6rem, 1fr));
	margin: 0;
	padding: 22px;
  }

nav ul li a {
	display: block;
	padding: 1em;
	text-decoration: none;
	min-width: 70px;
  }

nav a:link, nav a:visited {
	color: #f7d1cd;
  }

nav a:hover {
	color: #e8c2ca;
	background-color: #b392ac;
  } 
  
nav ul {display: none;}
nav ul.open {display: block;}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

/*BODY*/

/*FOOTER*/

footer {
    text-align: center;
}


