@media only screen and (min-width: 64rem) {
div.boxes {
    display: grid;
    grid-template-areas:
    "a b b c"
    "d b b c"
    "e f f c";
}

div.action {grid-area: b;}

div.new-release {grid-area: f;}

div.spotlight-section {grid-area: c;}

div.join {grid-area: inherit;}

div.event {grid-area: a;}

div.weather {grid-area: d;}

.action-img {
 width: 1px;   
}
/* ---JOIN --- */

.join-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

form fieldset {
    margin-left: 0;
}
.join-title {
    grid-column: 2;
}

.membershipLevels {
    grid-column: 2;
    grid-row: 2;
    margin-top: 10px;
}
 .button {margin-left: 0;}
}