/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 40rem) {

    nav button {display: none;}
    
    nav ul#primaryNav {
        display: flex;
        justify-content: flex-start;
        margin-left: 2vw;
        border-left: 1px solid rgba(0, 0, 0, 0.3);
    }
    
    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0, 0, 0, 0.3);
        }

    div.boxes {
        display: grid;
        grid-template-areas: 
        "a a a a"
        "b b b b"
        "c c c c"
        "d d d d"
        "e e e f";
    }

    div.action{grid-area: a;}

    div.new-release{ grid-area: b;}

    div.spotlight-section{ grid-area: c;}

    div.join {grid-area: d;}

    div.event {grid-area: e;}

    div.weather {grid-area: f;}

    /* Discovery Page */
    section.discovery div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 50px auto;
    }

    section.discovery div.img-left picture {
        order: 2;
    }

    section.discovery div.img-left p {
        order: 1;
    }
    /* ----JOIN----- */
    h1.join-title{
        font-size: 2.5rem;
        text-align: center;
    }
     .join-main {
         display: grid;
         grid-template-columns: 1fr;
     }

     

     
    } /*end medium */