@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Oswald:wght@500&display=swap');

html {
    background-color: white;
}

main {
    background: whitesmoke;
}

body {
    background-color: #1D3557;
}

header {
    align-content: center;
    align-items: center;
}
.header-img {
	padding-left: 20px;
}

h1 {
    text-align: center;
    color:black;
    font-family: "Oswald", modern;
}
h2 {
    color:white;
    font-family: "Oswald", modern;
    padding-left: 20px;
    margin: 0;
}

p {
    text-align: center;
    font-family: "Merriweather", serif;
    padding-left: 25px;
}

.social {
	margin-left: 1.5rem;
}

.social svg {
	width: 25px;
	height: auto;
}

nav {
    background-color: #457B9D;
}

nav button {
    margin: .2rem 2vw;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: white;
}
nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
    margin: 0;
    padding: 22px;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color:#fff;
}

nav ul li.active a {
    background-color: rgba(0, 0, 0, 0,2);
    color: #fff;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0,2);
    color: #e36965;
}

nav ul {display: none;}
nav ul.open {display: block;}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

/*body */
div.boxes {
    display: grid;
    grid-template-areas:
    "a"
    "b"
    "c"
    "d"
    "e"
    "f";
}

div.action {grid-area: a;}
div.event {grid-area: b;}
div.weather{grid-area: c;}
div.new-release {grid-area: d;}
div.spotlight-section {grid-area: f;}

/*footer */
footer {
    color: #eee;
}

#lastModified {
	text-align: center;
	font-size: smaller;
}

.date {
	margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0.75rem;
	background-color: #eee;
}

.action, .new-release, .join, .event, .weather {
    box-align: center;
    width: flex;
    border: 3px solid black;
    padding: 0px;
    margin: 20px;
}

.spotlight-section {
    border: 2px solid black;
    width: flex;
    padding: 10px;
    margin: 20px;
}

.spot-1, .spot-2, .spot-3 {
    box-align: center;
    width: flex;
    border: 3px solid black;
    padding: 15px;
    margin: 20px;
}