@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Oswald:wght@500&display=swap');

html {
    background-color: white;
}

main {
    background: whitesmoke;
}

body {
    background-color: #1D3557;
}

header {
    align-content: center;
    align-items: center;
}
.header-img {
	padding-left: 20px;
}

h1 {
    text-align: center;
    color:black;
    font-family: "Oswald", modern;
}
h2 {
    color:black;
    font-family: "Oswald", modern;
    padding-left: 20px;
    margin: 0;
}

p {
    text-align: center;
    font-family: "Merriweather", serif;
    padding-left: 25px;
}

.social {
	margin-left: 1.5rem;
}

.social svg {
	width: 25px;
	height: auto;
}
/* navigation */
nav {
    background-color: #457B9D;
}

nav button {
    margin: .2rem 2vw;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: white;
}
nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
    margin: 0;
    padding: 22px;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color:#fff;
}

nav ul li.active a {
    background-color: rgba(0, 0, 0, 0,2);
    color: #fff;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0,2);
    color: #e36965;
}

nav ul {display: none;}
nav ul.open {display: block;}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

/*body */
div.boxes {
    display: grid;
    grid-template-areas:
    "a"
    "b"
    "c"
    "d"
    "e"
    "f";
    row-gap: 1rem;
}

div.action {grid-area: a;}
div.event {grid-area: b;}
div.weather{grid-area: c;}
div.new-release {grid-area: d;}
div.spotlight-section {grid-area: f;}

main figure.action-img{
    width: 50%;
    margin: 2px;
    float: center;
    padding-left: 25px;
}

/*footer */
footer {
    color: #eee;
}

#lastModified {
	text-align: center;
	font-size: smaller;
}

.date {
	margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0.75rem;
	background-color: #eee;
}

.action, .new-release, .join, .event, .weather {
    box-align: center;
    width: flex;
    border: 3px solid black;
    padding: 0px;
    margin: 20px;
}

.spotlight-section {
    border: 2px solid black;
    width: flex;
    padding: 10px;
    margin: 20px;
}

.spot-1, .spot-2, .spot-3 {
    box-align: center;
    width: flex;
    border: 3px solid black;
    padding: 15px;
    margin: 20px;
}

/* Discovery */

section.discovery div{
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
    align-items: center;
}

picture.discovery-img {
    width: auto;
}

/*---JOIN----*/

.join-main {
    display: grid;
    grid-template-columns: 1fr;
}

.membership-levels {
    display: block;
}
form fieldset {
    margin: 2rem 0;
    border: 1px solid #445ba9;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: #445ba9;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form lable.top, form div {
    display: block;
    padding-top: 1rem;
    color: #9c2c13;
    font-size: .8rem;
}

form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 16px;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #555;
}

form input.submitBtn {
    border: none;
    background-color: #9c2c13;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

 /*--business directory--*/

.directory-buttons {
    margin: 1.5rem;
    text-align: center;
}
.directory-buttons button{
    padding: .35rem;
    margin: .3rem
}

.directory-buttons div {
    display: inline;
}
 
.business {
    margin: 0px; 
}

.business section {
    background-color: #457B9D;
    margin: .5rem;
    padding: 1rem;
    border-radius: 3px;
    border: 1px solid #D4D3D3;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.business img {
    width: 30%;
}

/** WEATHER BOX **/
.weather {
    text-align: center;
    padding: 3rem;
}

figcaption {
    display: block;
}