@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Oswald:wght@500&display=swap');

tml {
	background-color: #F6BD60;
  }
  
  body {
	max-width: 900px;
	margin: 0 auto;
	background-color: white;
	padding: 1em;
  }
  
  h2 {
	font-family: "Oswald", modern;
	padding: 5px 25px;
	font-size: 25px;
	text-align: left;
	margin: 0;
  }
  
  h3 {
	font-family: "Oswald", modern;
	font-size: 18px;
  }
  
  p {
	font-family: "Merriweather", serif;
	font-size: 25px;
  }
  
  h1  {
	font-family: "Oswald", modern;
	font-size: 25px;
  }
  
  header {
	display: grid;
	grid-template-columns: 100px auto;
  }
  
  nav {
	background-color: #F6BD60;
	line-height: 3em;
	text-align: center;
	font-size: 1.2em;
  }
  
  nav a {
	padding:1em;
	min-width: 70px;
  }
  nav a:link, nav a:visited {
	color: #84A59D;
	
  }
  nav a:hover {
	color: #F5CAC3;
	background-color: #84A59D;
  }
  
  nav > ul {
	list-style-type: none;
	display: flex;
  
  }
  nav a {
	padding:1em;
	min-width: 70px;
  }
  nav a:link, nav a:visited {
	color: #84A59D;
  }
  nav a:hover {
	color: #F5CAC3;
	background-color: #84A59D;
  }
  
  footer {
	background-color: #84A59D;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 1em;
  }
  